/* MAIN E BODY */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
}
/* MAIN E BODY */

/* HEADER */
header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    border-bottom: 0.1rem solid black;
    background-color: white;
    z-index: 0;
    width: 100%;
    margin: 0;
    z-index: 1;
}

header > a{
    display: flex;
    width: 5rem;
    height: 4rem;
    margin: 0.2rem 1rem;
}

header h1{
    position: absolute;
    display: flex;
    flex-direction: column; 
    align-items: center;
    left: 25%;
}

h1 > a{
    font-size: 2rem;
    color: black;
}

h1 > ul{
    position: relative;
    top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 > ul > li{
    font-size: 1.2rem;
    margin: 0 1rem;
}  

/* HEADER */

/* FEED */

.feed{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

h2{
    font-size: 1.2rem;
    margin: 1rem;
}

.receitas > img{
    position: relative;
    left: 15%;
    width: 70%;
    height: 50%;
    margin: 2rem 0rem 2rem;
    border: 0.2rem solid black;
}

p1{
    position: relative;
    font-size: 1.2rem;
    display: flex;
    justify-self: flex-start;
}

.feed > li {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.icones {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15%;
    width: 100%;
}

.icones img {
    width: 3rem;
    height: 3rem;
}

/* FEED */

/* FOOTER */
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-top: 0.1rem solid black;
}

footer > ul {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
    padding: 0% 5%;
}

footer img {
    width: 4rem;
    height: 4rem;
}
/* FOOTER */ 

/* MENU LATERAL */

.menu{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    background-color: white;
    width: 90%;
    height: 100%;
}

.menu > li{
    width: 100%;
    border-bottom: 0.2rem solid black;
}

.menu a{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    font-family: nunito, sans-serif;
    font-size: 2rem;
    width: 100%;
}

.menu img{
    position: relative;
    width: 30%;
    height: 20%;
}
/* MENU LATERAL */

/* SETA DE VOLTAR */
.voltar{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 0.1rem solid black;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0.2rem 1rem;
}

.voltar img{
    position: relative;
    width: 90%;
    height: 100%;
}
/* SETA DE VOLTAR */


.despensa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-size: 1.2rem;
    text-align: center;
}

.despensa > img{
    width: 40%;
    height: auto;
    margin-bottom: 10%;
}

.despensa > a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2% 2%;
    width: auto;
    margin-top: 10%;
    background-color: #fff;
    border: 0.2rem solid black;
}

.despensa > a > img {
    position: relative;
    width: 50%;
    height: 100%;
    margin-right: 0.5rem;
}