/* HEADER */
header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    border-bottom: 0.1rem solid black;
    background-color: white;
    z-index: 0;
    width: 100%;
    margin: 0;
}

header > a{
    display: flex;
    width: 5rem;
    height: 4rem;
    margin: 0.2rem 1rem;
}

h1{
    position: absolute;
    display: flex;
    flex-direction: column; 
    align-items: center;
    left: 30rem;
}

h1 > a{
    font-size: 2rem;
    color: black;
}

h1 > ul{
    position: relative;
    top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 > ul > li{
    font-size: 1.2rem;
    margin: 0 1rem;
}  

/* HEADER */

/* FEED */

.feed{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

h2{
    font-size: 1.2rem;
    margin: 1rem;
}

.receitas > img{
    position: relative;
    left: 15%;
    width: 70%;
    height: 40rem;
    margin: 2rem 0rem 2rem;
    border: 0.2rem solid black;
}

p1{
    position: relative;
    font-size: 1.2rem;
    display: flex;
    justify-self: flex-start;
}

.feed > li {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.icones {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    height: auto;
}

.icones img {
    width: 3rem;
    height: 3rem;
}

/* FEED */

/* FOOTER */
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-top: 0.1rem solid black;
}

footer > ul {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    padding: 0rem 2rem;
}

footer img {
    width: 4rem;
    height: 4rem;
    display: block;
}
/* FOOTER */ 

/* MENU LATERAL */
.menu{
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 60%;
    border-right: 0.2rem solid black;
    z-index: 1;
    background-color: white;
}

.menu > li > a{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 0.2rem solid black;
    font-family: nunito, sans-serif;
    font-size: 1.4rem;
}

.menu img{
    position: relative;
    width: 70%;
    height: 20%;
    margin-right: 0rem;
}
/* MENU LATERAL */

/* SETA DE VOLTAR */
.voltar{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 0.1rem solid black;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0.2rem 1rem;
}

.voltar img{
    position: relative;
    width: 70%;
    height: 100%;
}
/* SETA DE VOLTAR */

.despensa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    font-size: 1.2rem;
}

.despensa > img{
    position: relative;
    width: 20%;
    height: 20%;
    margin-bottom: 2rem;
}

.despensa > a {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 20%;
}

.despensa > a > img {
    position: relative;
    width: 50%;
    height: 100%;
    margin-right: 0.5rem;
}