.hamburger{
    display: flex;
    flex-direction: row;
}

.hamburger > a > img{
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

h1{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
}

h1 > a{
    font-size: 2rem;
    color: black;
}

h1 > ul{
    display: flex;
    flex-direction: row;
}